.page__block {
	display: flex;
	gap: 0.6em;
	align-items: center;
	max-width: 100%;
	padding: 0.1em 0.2em;
	border: 1px solid transparent;
	border-radius: var(--border-radius-sm);
	outline: none;
	transition: border 0.2s ease;
}
.page__block:focus {
	border-color: hsla(0, 0%, 100%, 0.1);
}

/* .page__block:focus .page__block__actions,
.page__block:focus-within .page__block__actions, */
.page__block:hover .page__block__actions {
	opacity: 0.2;
}

.page__block__actions {
	display: flex;
	align-self: flex-start;
	transition: all 0.3s ease;
	opacity: 0;
}
.page__block__actions-move {
	padding: 0.1rem 0.4rem;
	background: transparent;
	border-radius: 10px;
	border: none;
	color: var(--clr-btn-text-gray);
	cursor: grab;
	margin: 0.2rem 0;
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page__block__actions-move:hover {
	background-color: var(--clr-btn-hover-background);
}

.page__block__editable_div {
	flex: 1;
	font-size: 1rem;
	/* padding: 0.2rem 0; */
	caret-color: rgba(255, 255, 255, 0.6);
	border: none;
	outline: none;
	max-width: 100%;
	position: relative;
}

.page__block__editable_div.type-text {
	font-size: 1rem;
}

.page__block__editable_div.type-h1,
.page__block__editable_div.type-h1.empty:focus::after {
	font-size: 2rem;
	padding: 0.7rem 0;
	line-height: 1.2;
}

.page__block__editable_div.type-h2,
.page__block__editable_div.type-h2.empty:focus::after {
	font-size: 1.7rem;

	line-height: 1.2;
	padding: 0.5rem 0;
}

.page__block__editable_div.type-h3,
.page__block__editable_div.type-h3.empty:focus::after {
	font-size: 1.3rem;
	padding: 0.4rem 0;
}

.page__block__editable_div.empty:focus::after {
	/* content: "Enter / for commands"; */
	content: attr(data-placeholder);
	color: var(--clr-light-text);
	font-size: 0.9rem;
}
