.page__title_editor {
	font-size: 2rem;
	caret-color: hsla(0, 100%, 100%, 0.2);
	font-weight: bold;
	border: none;
	cursor: text;
	outline: none;
	padding: 1rem 0.2rem;
	line-height: 1.2;
	position: relative;
	border-bottom: 2px solid transparent;
	transition: all 0.3s ease;
}

.page__title_editor.empty::after {
	content: attr(data-placeholder);
	color: var(--clr-text-gray-dark);
	/* position: absolute;
	top: 0;
	left: 0; */
}

.page__title_editor:focus,
.page__title_editor:hover {
	/* border-bottom: 1px solid white; */
	border-bottom-color: var(--clr-btn-hover-background);
}
